<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block titel %} Document {% endblock %} </title>
</head>
<body>
    <div id="content">
        <h1>
            {% block h1 %} {% endblock %}
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Deserunt odio consequatur provident eum. Fuga ullam eum 
            dolorum praesentium commodi laudantium minima tempora eaque 
            excepturi architecto voluptatibus facilis, nesciunt dolores magni!
        </p>
    </div>
</body>
</html>