{% extends "app/base.html" %}


{% block titel %} List Page {% endblock %}

{%  block h1 %} All List {% endblock %}



{{ls}}

{% block content %}

    <div>
        <ol>
    
            {% for i in ls%}
                <li><h3> {{i}} </h3></li>    
            {% endfor %}
        
        </ol>
    </div>


    <br>
    <br>
    <br>
    
    <div>
        <form method="post" action="">
            {% csrf_token %}
            {{ FORM.as_p }}
            <button type="submit"> Create </button>
        </form>
    </div>

{% endblock %}
