{% extends "app/base.html" %}

{% block titel %} Item List {% endblock %}

{% block h1 %}
    <form method="post" action="#">
        {% csrf_token %}
        <div>
            {{ name.name }} (I{{name.id}}) <button type="submit" name="d{{ name.id }}" value="delete">Delete!</button>
        </div>
    </form>
{% endblock %}


{{ todo }}

{% block content %}

    <form method="post" action="#">
        {% csrf_token %}

        <ol>
            {% for i in todo %}
            {% if i.complete == True %}
                <li><h3><input type="checkbox" name="c{{i.id}}" value="clicked" checked> {{i}} -- COMPLETE  ( Delete: <input type="checkbox" name="d{{i.id}}" value="delete">)</h3></li>
                {% elif i.complete == False %}
                <li><h3><input type="checkbox" name="c{{i.id}}" value="clicked">{{i}} -- INCOMPLETE  ( Delete: <input type="checkbox" name="d{{i.id}}" value="delete">)</h3></li>
            {% endif %}
            {% endfor %}
        </ol>
        <br>
        <input type="text" name="newItemField">
        <br><br>
        <button type="submit" name="save" value="save">Save</button>
    </form>


{% endblock %}
