{% extends "app/base.html" %}


{% block titel %} List Page {% endblock %}

{%  block h1 %} All List {% endblock %}

{{ls}}

{% block content %}
        <form action="#" method="post">
            {% csrf_token %}
            <div>
                <ol>
            
                    {% for i in ls%}
                        <li><h4><a href="{{i.name}}"> {{i}} </a> <button type="submit" value="delete" name="d{{i.id}}" class="btn btn-success">Delete</button></h4></li>    
                    {% endfor %}
                
                </ol>
            </div>
        </form>


        <br>
        <br>
        <br>
        
        <div>
            <form method="post" action="">
                {% csrf_token %}
                {{ FORM.as_p }}
                <button type="submit"> Create </button>
            </form>
        </div>
{% endblock %}

